<%- include('./../includes/header.ejs') %>
<title>Create Flamenco Blog Post</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/login">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/login.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>Edit Flamenco Blog Post</h1>

  <form action="/admin/update-flamenco-blog-post/<%= id %>" method="POST">

    <label for="h1Title">H1 Title</label>
    <input type="text" name="h1Title" value="<%= post.h1Title %>">

    <label for="seoFriendlyTitle">SEO Friendly Title</label>
    <input type="text" name="seoFriendlyTitle" value="<%= post.seoFriendlyTitle %>">

    <label for="headerImg">Image</label>
    <input type="file" name="headerImg" accept="image/png, image/jpeg">

    <label for="heading1">Heading1</label>
    <input type="text" name="heading1" value="<%= post.h1Title %>">

    <label for="paragraph1">Paragraph1</label>
    <textarea type="text" name="paragraph1" rows="5" cols="33"><%= post.paragraph1 %></textarea>

    <label for="heading2">Heading2</label>
    <input type="text" name="heading2" value="<%= post.h2Title %>">

    <label for="paragraph2">Paragraph2</label>
    <textarea type="text" name="paragraph2" rows="5" cols="33"><%= post.paragraph2 %></textarea>

    <label for="heading3">Heading3</label>
    <input type="text" name="heading3" value="<%= post.h3Title %>">

    <label for="paragraph3">Paragraph3</label>
    <textarea type="text" name="paragraph3" rows="5" cols="33"><%= post.paragraph3 %></textarea>

    <label for="heading4">Heading4</label>
    <input type="text" name="heading4" value="<%= post.h4Title %>">

    <label for="paragraph4">Paragraph4</label>
    <textarea type="text" name="paragraph4" rows="5" cols="33"><%= post.paragraph4 %></textarea>

    <label for="heading5">Heading5</label>
    <input type="text" name="heading5" value="<%= post.h5Title %>">

    <label for="paragraph5">Paragraph5</label>
    <textarea type="text" name="paragraph5" rows="5" cols="33"><%= post.paragraph5 %></textarea>
    <button type="submit">Submit</button>
</form>



</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>