<%- include('./../includes/header.ejs') %>
<title>Edit Flamenco Blog Post</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/admin/edit-flamenco-blog-post">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/edit-flamenco-blog-post.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>Edit Flamenco Blog Post</h1>

  <form action="/admin/update-flamenco-blog-post/<%= id %>" method="POST">

    <label for="h1Title">H1 Title</label>
    <input type="text" name="h1Title" value="<%= post.h1Title %>">
    
    <label for="dateCreated">Date created</label>
    <input readonly type="text" name="dateCreated" value="<%= post.dateCreated %>">

    <label for="dateCreated">Date Updated</label>
    <input readonly type="text" name="dateUpdated" value="<%= post.dateUpdated %>">

    <label for="authorDisplayName">AuthorDisplayName</label>
    <input readonly type="text" name="authorDisplayName" value="<%= post.authorDisplayName %>">

    <label for="authorUid">AuthorUid</label>
    <input readonly type="text" name="authorUid" value="<%= post.authorUid %>">
    <!-- <label for="headerImgUrl">headerImgUrl</label>
    <input readonly type="text" name="headerImgUrl" value="<%= post.headerImgUrl %>">
  
    <label for="headerImgWidth">headerImgWidth</label>
    <input readonly type="text" name="headerImgWidth" value="<%= post.headerImgWidth %>">
  
    <label for="headerImgHeight">headerImgHeight</label>
    <input readonly type="text" name="headerImgHeight" value="<%= post.headerImgHeight %>"> -->
  
  
  
    <label for="seoFriendlyTitle">SEO Friendly Title</label>
    <cite>This will be the documents id so make it unique. Dont change after a while because will affect SEO and then I'll have to make redirect 301</cite>
    <input type="text" name="seoFriendlyTitle" value="<%= post.seoFriendlyTitle %>" readonly>

      <label for="keywords">Keywords</label>
      <textarea name="keywords" rows="2" cols="33"><%= post.keywords %></textarea>

      <label for="description">Description Under 160 Characters</label>
      <textarea name="description" rows="3" cols="33"><%= post.description %></textarea>

      <label for="html">HTML</label>
      <textarea name="html" rows="100" cols="33"><%= post.html %></textarea>
    
    <button type="submit">Submit</button>
</form>

<div id="mainContainerHtmlRenderedView">
  <h4>HTML rendered view</h4>
  <time datetime="<%= post.dateCreated %>"><%= post.dateCreatedHumanReadable %></time>
  <h1><%= post.h1Title %></h1>
  <!-- <p>Author <%= post.authorDisplayName %></p> -->
  <img src="<%= post.headerImgUrl %>" alt="">
  <%- post.html %>
</div>

</div>

<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>