<%- include('./../includes/header.ejs') %>
<title>list-all-flamenco-blog-posts</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/list-all-flamenco-blog-posts">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/list-all-flamenco-blog-posts.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>list-all-flamenco-blog-posts</h1>
  <% blogArr.map( blog => { %>

  <div class="blogs">
    <h4><%= blog.h1Title %> </h4>
    <p>Author <%= blog.authorDisplayName %></p>
    <p>Date Created <%= blog.dateCreatedHumanReadable %></p>
<!-- allow blog owner to edit and upload and also me -->
    <% if(blog.authorUid === blog.currentLoggedUserUid || 'YnakLXc4V7ZVuRIAoG79Hj1Q33t1' === blog.currentLoggedUserUid) { %>
    <p>
      <a href="/admin/edit-flamenco-blog-post/<%= blog.id %>"> <button>Edit</button></a>
    </p>
    <p>
      <a href="/admin/upload-imgs-flamenco-blog-post/<%= blog.id %>"> <button>Upload Images</button></a>
    </p>
    <% } %>

<!-- only I can approve and delete -->
    <% if('YnakLXc4V7ZVuRIAoG79Hj1Q33t1' === blog.currentLoggedUserUid) { %>
      
    <form id="isApprovedForm" action="/admin/approve-flamenco-blog-post/<%= blog.id %>" method="post">

      <input id="true<%= blog.id %>" type="radio" name="isApproved" value="true" > 
      <!-- add ids to labels to connect to ids, this way theyre unique -->
      <label for="true<%= blog.id %>">true</label>
      <input id="false<%= blog.id %>" type="radio" name="isApproved" value="false"><label for="false<%= blog.id %>">false</label>
      <button>Approved <%= blog.isApproved %></button>
    </form>
    <form id="deleteForm" action="/admin/delete-flamenco-blog-post/<%= blog.id %>" method="post">
      <button>Delete</button>
    </form>
    <% } %>


  </div>
  <%  }) %>
</div>
<script src="/scripts/confirm-blog-deletion.js"></script>
<%- include('./../includes/footer.ejs') %>