<%- include('./../includes/header.ejs') %>
<title>list-all-flamenco-blog-posts</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/list-all-flamenco-blog-posts">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/list-all-flamenco-blog-posts.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>list-all-flamenco-blog-posts</h1>
  <% blogArr.map( blog => { %>
    
<p><%= blog.id %><a href="/admin/edit-flamenco-blog-post/<%= blog.id %>">  <button>Edit</button></a></p>
    <%  }) %>
 
</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>