<%- include('./../includes/header.ejs') %>
<title>userProfile</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/admin/userProfile">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/userProfile.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>Profile</h1>
  <!-- <h2>UID: <%= currentUser.uid %></h2> -->
  <p>User Name: <%= currentUser.userName %></p>
  <p>Email: <%= currentUser.email %></p>
  <p>Profile Image</p>
  <img src="<%= currentUser.profileImgUrl %>" alt="">
    
  <form id="uploadImgForm" action="/admin/upload-profile-img/<%= currentUser.uid %>" method="post" enctype="multipart/form-data"> 
    <label for="profileImg">Profile Image</label>
    <input id="profileImg" type="file" name="profileImg" accept="image/*" required> 
    <button>Submit New Profile Image</button>
</form>


<!-- <form id="displayNameForm" action="/admin/userProfile" method="post">
    <label for="displayName">Edit your Display Name</label>
<input type="text" name="displayName" value="<%= currentUser.displayName %>"> 
<button>Submit</button>
</form> -->

<!-- TODO implement account deletion -->

</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>