<%- include('./../includes/header.ejs') %>
<title>userProfile</title>
<meta name="robots" content="noindex,nofollow">
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/admin/userProfile">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/admin/userProfile.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
  <a href="/admin/flamenco-admin">Admin Home</a>
  <h1>User Profile</h1>
  <h2>UID: <%= user.uid %></h2>
  <h2>Display Name: <%= user.displayName %></h2>
  <h2>Email: <%= user.email %></h2>
  <h2>Photo </h2>
  <img src="<%= user.photoURL %>" alt="">

<form action="/admin/userProfile" method="post">
    <label for="displayName">Edit your Display Name</label>
<input type="text" name="displayName" value="<%= user.displayName %>">
    <label for="photoURL">Edit your image link</label>
<input type="text" name="photoURL" value="<%= user.photoURL %>">
<button>Submit</button>
</form>

<!-- TODO implement account deletion -->

</div>
<!-- <script src="/scripts/firebase.js"></script> -->
<%- include('./../includes/footer.ejs') %>