<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/capos.css">
<title>Buy Flamenco Capos</title>
<meta name="apple-mobile-web-app-title" content="Buy Flamenco Capos">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="A Capo is a simple device which clamps onto the neck of your instrument in any position you choose to shorten the playable
        length of the strings.">
<meta name="keywords" content="flamenco, Buy Flamenco Capos">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Buy Flamenco Capos">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Buy Flamenco Capos">
<meta property="og:description" content="A Capo is a simple device which clamps onto the neck of your instrument in any position you choose to shorten the playable
        length of the strings.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Flamenco guitar capos">
<meta name="twitter:description" content="A Capo is a simple device which clamps onto the neck of your instrument in any position you choose to shorten the playable
        length of the strings.">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/capos">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
          "name": "Flamenco guitar capos",
          "priceRange": "$60 - $1000",
          "description": "A Capo is a simple device which clamps onto the neck of your instrument in any position you choose to shorten the playable
        length of the strings.",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au/capos",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>
</head>
<%- include('./includes/nav.ejs') %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Buy Flamenco Capos</h1>
      <p>
        A Capo is a simple device which clamps onto the neck of your instrument in any position you choose to shorten the playable
        length of the strings. The pitch of the guitar is altered by half a step for each fret. Playing with a capo affects only
        the notes of the open strings. All other frets remain the same. However, the use of the capo can affect the tone of the
        guitar, creating a brighter sound.
      </p>
      <p>
        The term is a shortened version of capotasto which is Italian for head of the fretboard. Capos are used extensively in the
        playing of Flamenco and traditional folk music and less frequently in classical and jazz performance. That said, you will
        find specialist Classical guitar capos as well as those for Flamenco guitar. The capo is a simple way to alter the key
        of a song to suit a vocalist without having to transpose the chords and can also make some complex arrangements easier
        to play.
      </p>
      
      <p>
        When two or more guitarists are performing together the use of a capo can create a more interesting sound and some striking
        effects. A partial capo can be employed to barre just some of the strings of the instrument in order to create many tonal
        variations without having to retune the instrument. A capo is certainly a useful accessory for any Classical or Flamenco
        guitarist and opens up many new possibilities.
      </p>
      
      <p>
       We have a comprehensive range of Flamenco guitar capos that
        we have carefully chosen. If you have any questions about our capos then
        please do contact us for the advice you need. We are always happy to
        help!
      </p>
    </div>
      
    <h2 id="h2Title">Handmade Traditional Flamenco Capos</h2>
    <div class="card-deck">
      <% caposArray.forEach(capo => { %>
      <div class="col-lg-6 capoCardDiv" >
        <div class="card ">
          <img src="<%= capo.images.image %>" class="card-img-top" alt="<%= %>">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">$<%= capo.product.price %></small></p>
            <h3 class="card-title"><%= capo.product.title %></h3>
            <%- capo.product.paypalBtn %>
            <p class="card-text cardDesc"><%= capo.product.description %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<%- include('./includes/footer.ejs') %>