<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/flamenco-news.css">
<title>Flamenco News</title>
<meta name="apple-mobile-web-app-title" content="Flamenco News">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="Flamenco News">
<meta name="keywords" content="flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Flamenco News">
<meta property="og:description" content="Flamenco News">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Flamenco News">
<meta name="twitter:description" content="Flamenco News">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/flamenco-news">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "Flamenco News",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>
<%- include('./includes/nav.ejs') %>
<h1>Latest Flamenco News</h1>
<!-- <div class="container "> -->
    <!-- <div class="row"> -->
        <% if(newsBody) { %>

        <div id="newsContainer">

            <%  newsBody.forEach( newsPost => { %>
            <% if(newsPost.thread.main_image.length > 0 && newsPost.text.length > 10) { %>
            <div class="newsItem">
                <!-- <div class="card "> -->
                <!-- with api filter https* some images show as  source (unknown) and are empty strings but still show the image alt and looks bad so filter it out -->

                <img src="<%= newsPost.thread.main_image %>" class="card-img-top" alt="">


                <!-- <div class="card-body"> -->
                <a href="<%= newsPost.url %>">
                    <h2 class="card-title"><%= newsPost.thread.title_full %></h2>
                </a>
                <cite>Published <%= new Date(newsPost.published).toUTCString() %></cite>
                <div><%- newsPost.text.slice(0,200) %>...</div>
                <!-- </div> -->


                <!-- </div> -->
            </div>
            <% } %>
            <% }) %>
        </div>
        <% } %>

    <!-- </div> -->
</div>
<script src="/scripts/flamenco-news.js"></script>
<%- include('./includes/footer.ejs') %>