<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<title>Brisbane Professional Flamenco Events</title>
<meta name="apple-mobile-web-app-title" content="Brisbane Professional Flamenco Events">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
    content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<meta name="keywords" content="flamenco, events, shows, brisbane, flamenco guitar and dance, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="Professional Flamenco Events">
<meta property="og:description"
    content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Professional Flamenco Events">
<meta name="twitter:description"
    content="Flamenco shows in private homes, theatres, festivals, events, business launches and much more all over the world. We offer a few formats, solo flamenco guitar, flamenco guitar duo, and a traditional flamenco show including dance and percussion. Flamenco guitar lessons">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "Brisbane flamenco performances for weddings and functions, with guitarists and dancers. Flamenco guitar lessons",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>
</head>
<%- include('./includes/nav.ejs') %>
<div id="homeContainer">
    <!-- <div id="mainContainer"> -->
        <div class="blurb">
            <h1>Flamenco Events In Brisbane</h1>
            <p>
                Give your guests a once in a lifetime Spanish experience they will never forget. Finding an original type of
                entertainment for your event can be daunting. Flamenco is always a safe bet for Brisbane events with its
                magical ambiance and hypnotizing sounds. But finding a professional flamenco band can be difficult, outside
                of Spain.
            </p>
            <img src="./images/flamenco-small-group.jpg" alt="Small gathering with flamenco">
            <cite>Small gathering with flamenco</cite>
            <p>
                Flamenco can be very versatile, which makes it excellent for any event. We will tailor the best flamenco
                show for you depending on your requirements to ensure you're satisfied. We work in Brisbane Spanish
                restaurants, tablaos, theatres, festivals, events, business launches, Brisbane tapas bars and Southbank
                restaurants, private homes and much more all over QLD. We offer a few formats, solo Spanish guitar, flamenco
                guitar duo, and a traditional Spanish show including flamenco dance and percussion.
            </p>
            <!-- <img src="./images/flamenco-outside.png" class="img-fluid" alt="Outdoors flamenco"> -->
            <video preload="metadata" controls width="100%" playsinline>
                <source src="/videos/david-playing-flamenco.webm" type="video/webm">
                    <source src="/videos/david-playing-flamenco.mp4" type="video/mp4">
                
                <p>Your browser doesn't support HTML5 video.</p>
              </video>
    
            <cite>Outdoors flamenco</cite>
            <p>
                In a traditional flamenco show format, we include guitar solos and flamenco dancing. Your guests will be
                sure to remember your event. All the members are professional flamenco musicians with international
                experience. Enjoy our flamenco events, and surprise your friends and family
                members. Get in touch to discuss a solution.
            </p>
            <img src="./images/small-venue-flamenco.png" alt="Small Venue Flamenco">
            <cite>Small Venue Flamenco</cite>
            <h5>¡Olé!</h5>
            <h2> Brisbane Flamenco Guitar Lessons</h2>
            <p>
                Learn from Brisbane flamenco guitar teachers. Our guitar teachers have professional experience performing
                and teaching flamenco and have studied for many years in Spain. Get in touch to discover the flamenco rhythm
                and secrets to the incredible Spanish guitar.
            </p>
        </div>
            <% if(newsBody) { %>
            
            <div class="newsItems">
                <h2>Latest Flamenco News</h2>
                <%  newsBody.forEach( newsPost => { %>
                    <% if(newsPost.thread.main_image.length > 0 && newsPost.text.length > 10) { %>
                        <!-- with api filter https* some images show as  source (unknown) and are empty strings but still show the image alt and looks bad so filter it out -->
                            <img src="<%= newsPost.thread.main_image %>"  alt="<%= newsPost.thread.title %>">
                            <a href="<%= newsPost.url %>">
                                <h5 "><%= newsPost.thread.title_full %></h5>
                            </a>
                            <cite>Published <%= new Date(newsPost.published).toUTCString() %></cite>
                            <p >
                                <%- newsPost.text.slice(0, 200) %>...
                            </p>
                <% } %>
                <% }) %>
                <% } %>
            </div>
</div>
<script>alert('hu')</script>
<%- include('./includes/footer.ejs') %>