<%- include('./includes/header.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<title><%= title %></title>
<meta name="apple-mobile-web-app-title" content="<%= title %>">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
  content="The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
  both of which are generally believed to have descended from the ancient Oriental zither.">
<meta name="keywords" content="flamenco, The Spanish Flamenco Guitar, Flamenco guitar lessons">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="//ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="<%= title %>">
<meta property="og:url" content="https://brisbaneflamenco.com.au/">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= title %>">
<meta property="og:description"
  content="The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
  both of which are generally believed to have descended from the ancient Oriental zither.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description"
  content="The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
  both of which are generally believed to have descended from the ancient Oriental zither.">
<!-- <meta name="twitter:image" content="//ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org/",
        "@type": "LocalBusiness",
          "name": "Brisbane Flamenco",
          "priceRange": "$60 - $1000",
          "description": "Brisbane flamenco performances for weddings and functions, with guitarists and dancers. Flamenco guitar lessons",
          "currenciesAccepted": "AUD",
          "openingHours": "Mo,Tu,We,Th,Fr,Sat 08:00-20:00",
  "telephone": "+61415072353",
          "paymentAccepted":"Cash",
          "url": "https://www.brisbaneflamenco.com.au",
          "address": {
    "@type": "PostalAddress",
    "addressLocality": "Greenbank",
    "addressRegion": "QLD",
    "postalCode": "4124",
    "streetAddress": "74-82 Moody Road"
  }
    }
  </script>
  <link rel="stylesheet" href="/css/spanish-guitar.css">
</head>
<%- include('./includes/nav.ejs') %>
<div class="container">

    <div class="jumbotron">
        <h1 class="whiten">The Spanish Guitar</h1>
        <div id="zitherDiv">
            <img src="/images/spanishGuitarArticle/zither.jpg" alt="A zither, a box like instrument with no neck and many strings">
            <br>
            <cite>Oriental zither</cite>
        </div>
        <p>The Spanish guitar is the direct offspring of, principally, the Latin guitar and, secondarily, the Moorish guitar,
            both of which are generally believed to have descended from the ancient Oriental zither. </p>
        <p>We must look to Egypt and Babylonia for the earliest stringed instruments, including the zither, from where they
            passed on to Syria, Persia, India, and the Middle and Far East in general.</p>
        <p>This is assumed on a bas-relief discovered in the tomb of one of the Kings of Thebes in Egypt, dated 3500 B.C.</p>
        <div id="basReliefDiv">
            <img src="/images/spanishGuitarArticle/egyptBasRelief.jpg" alt="An Egyptian bas-relief of a person playing a harp-like instrument">
            
        </div>
        <cite>Example of an Egyptian bas-relief of a harp like instrument</cite>
        <p> This bas-relief, now in the museum of Leyden (Holland), includes an instrument somewhat resembling today's Spanish
            guitar. Around the time 800-1000 B.C. the Egyptians possessed an instrument greatly resembling the modern guitar.
            This instrument could easily have been the Moorish guitar, or one of its predecessors in its development from
            the Oriental zither. However, in view of continued archaeological discoveries, no date or place can be irrevocably
            pinpointed concerning the origin of any of the ancient stringed instruments. In truth, the family tree of stringed
            instruments, in all of its rich variety, is as vague as civilization's early history.
        </p>
        <p>If we wish to follow the popular theory that the guitar was derived from the zither, the guitar's development in
            Spain can be traced in rough outline. It is generally agreed that the Oriental zither was introduced into Spain
            during the time of the Romans, sometime before 0CE. The zither flourished in Spain until the fall of the Spanish
            Roman Empire (fifth century) at which time it fell largely into disuse until the invading
            <a mat-button href="https://en.wikipedia.org/wiki/Visigoths"
                target="_blank">visigoths</a> were firmly established on the peninsula. The visigoths set about reviving the old Roman culture,
            and the zither again emerged. In the VII century
            <a href="https://en.wikipedia.org/wiki/Isidore_of_Seville" target="_blank">San Isidro</a> wrote of wandering minstrels singing and accompanying themselves on the zither (he also states
            that the musical centers of Spain at the time were Sevilla, Toledo, and Zaragoza). It was around this period
            that the Latin guitar, an instrument containing four sets of double strings and which resembled a small version
            of the present Spanish guitar, was developed in Spain, presumably, from the Roman zither.</p>
        <div id="latinGuitarDiv">
            <img src="/images/spanishGuitarArticle/Guitar_latina_morisca.jpg" alt="Two people, one playing a latin guitar and the other playing a morrocan guitar.">
            
        </div>
        <cite>
            <a href="https://en.wikipedia.org/wiki/Guitarra_latina" target="_blank">Guitarra latina</a> (left) and
            <a href="https://en.wikipedia.org/wiki/Guitarra_morisca" target="_blank">guitarra morisca</a> (right)</cite>
        <p>Meanwhile, in the Middle East the Oriental zither had long ago inspired the family of the Moorish guitar, an oval-shaped,
            three stringed instrument introduced into Spain with the eighth-century Moorish invasion. It is thought that
            the only significant characteristic that the Latin guitar borrowed from the Moorish guitar in its development
            into the Spanish guitar, was the idea of the single strings in place of the formerly used sets of double strings.</p>
        <p>So by the ninth century there existed in Spain guitars not unlike those we play today, but until the troubadour period
            (eleventh through the thirteenth centuries) the guitar was not widely introduced to the general populace. Little
            structural change of any significance took place in this guitar until the sixteenth century, when
            <a href="https://en.wikipedia.org/wiki/Vicente_Espinel"
                target="_blank">Vicente Espinel</a> began using a fifth string. With this development the Spaniards finally seemed to feel that
            the guitar was their instrument, and it was then that the latin guitar was rechristened the "Spanish guitar".
            Two centuries later the final radical development was made, which was the addition of the sixth string by
            <a
                href="https://es.wikipedia.org/wiki/Fray_Miguel_Garc%C3%ADa" target="_blank">Fray Miguel Garcia</a>, a monk also known as Padre Basilio, an excellent classical guitarist and the guitar instructor
                of King Carlos IV, Queen Maria Luisa, and the famous concert guitarist
                <a href="https://es.wikipedia.org/wiki/Dionisio_Aguado_y_Garc%C3%ADa"
                    target="_blank">Dionisio Aguado</a>.</p>
        <p>Thus, except for its growth in size and quality, by the latter third of the eighteenth century the Spanish guitar
            was as we know it today.</p>
        <cite>Sources: Flamencologist D. Pohren. Photos: Wikipedia.</cite>
    </div>
</div>

    <div class="container">

        <div class="jumbotron">
            <h2>Paco de Lucía</h2>
                <img class="img-fluid mx-auto" src="/images/spanishGuitarArticle/pacodelucia.jpg" alt="Paco de Lucia playing effortlessly">
                <p>Paco de Lucía playing effortlessly</p>
            <div>
                <br>
                <h3>A timeline of the life of Paco de Lucía:</h3>
                <ul id="pacolist">
                    <li>
                        <strong>1947</strong> - Born Francísco Sánchez Gómez in December in Alegiras, Spain</li>
                    <li>
                        <strong>1961</strong> - At the age of 14 he made his first record with his brother Pepe, Los Chiquitos de
                        Algeciras (Kids of Algeciras).</li>
                    <li>
                        <strong>1963</strong> - In the early 1960s, de Lucía toured with the flamenco troupe of dancer José Greco</li>
                    <li>
                        <strong>1964</strong> - With Ricardo Modrego he recorded three albums: Dos guitarras flamencas (1964), 12
                        canciones de García Lorca para guitarra and 12 éxitos para 2 guitarras flamencas (1965)</li>
                    <li>
                        <strong>1966</strong> - He toured again with José Greco</li>
                    <li>
                        <strong>1967</strong> - Recorded his debut solo album, La fabulosa guitarra de Paco de Lucía and appeared
                        at the 1967 Berlin Jazz Festival. He recorded albums with his brother, including Canciones andaluzas
                        para 2 guitarras (1967) and Dos guitarras flamencas en América Latina </li>
                    <li>
                        <strong>1969</strong> - Recorded Fantasía flamenca de Paco de Lucía and 12 Hits para 2 guitarras flamencas
                        y orquesta de cuerda</li>
                    <li>
                        <strong>1975</strong> - Became the first-ever flamenco performer to perform at the Teatro Real of Madrid</li>
                    <li>
                        <strong>1976</strong> - Recorded Almoraima
                    </li>
                    <li>
                        <strong>1977</strong> - Performed with Carlos Santana in the Plaza de toros de las Arenas bullring in Barcelona.
                        He was invited by Al Di Meola to record on his "Mediterranean Sundance" piece for his album Elegant
                        Gypsy </li>
                    <li>
                        <strong>1978</strong> - Paco and his brothers recorded Interpreta a Manuel de Falla</li>
                    <li>
                        <strong>1979</strong> - Paco de Lucía, John McLaughlin, and Larry Coryell formed The Guitar Trio and together
                        made a tour of Europe </li>
                    <li>
                        <strong>1981</strong> - Coryell was replaced with Di Meola, and The Guitar Trio released one of their most
                        successful records, Friday Night in San Francisco, which sold over 1 million copies and generated
                        a significant interest in flamenco music in America and Europe. De Lucía also formed the Paco de
                        Lucía Sextet (which included his brothers Ramón and Pepe), and released the first of its three albums
                        that same year</li>
                    <li>
                        <strong>1982</strong> - Paco put on a series of concerts with jazz pianist Chick Corea</li>
                    <li>
                        <strong>1984</strong> - Recorded and produced the album, Live... One Summer Night and accepted a position
                        as a judge at Seville's 1984 Bienal
                        <li>
                            <strong>1986</strong> - Paco de Lucía would continue to perform with McLaughlin as a duo across Europe
                            in 1986 and later</li>
                        <li>
                            <strong>1987</strong> - Paco performed for the first time in the Soviet Union, and went back to his roots
                            with his highly successful release, Siroco. Siroco is often cited as his best album and one of
                            the greatest flamenco albums of all time</li>
                        <li>
                            <strong>1990</strong> - The sextet got together to record Zyryab, a groundbreaking Arabic flamenco/jazz
                            album with jazz pianist Chick Corea and fellow virtuoso flamenco guitarist Manolo Sanlúcar</li>
                        <li>
                            <strong>1991</strong> - Asked to perform and interpret Joaquín Rodrigo's Concierto de Aranjuez</li>
                        <li>
                            <strong>1992</strong> - Performed live at the bullring at Seville Expo '92</li>
                        <li>
                            <strong>1995</strong> - He and Bryan Adams recorded the hit song and video Have You Ever Really Loved
                            A Woman on the soundtrack for the American film Don Juan DeMarco</li>
                        <li>
                            <strong>2004</strong> - He toured the United States and Canada with Seville flamenco singer La Tana and
                            released Cositas Buenas and won the Prince of Asturias Awards in Arts</li>
                        <li>
                            <strong>2005</strong> - He was nominated for producer of the year by the Latin Grammy for La Tana's "Tu,
                            Ven a Mi"</li>
                        <li>
                            <strong>2010</strong> - He was awarded an honorary doctorate by Berklee College of Music in Boston, and
                            performed at the Montreux Festival</li>
                        <li>
                            <strong>2014</strong> - Paco de Lucía died of a heart attack on 25 February 2014</li>
                </ul>
            </div>
            <br>
            <div>
                <blockquote>
                    <p>“Paco was a real man. Real in the sense of true; to himself, to his music and to everyone else. A man
                        in that he was passionate, but had true compassion and deep understanding of the human condition.."</p>
                    <footer>
                        <cite>John McLaughlin</cite>
                    </footer>
                </blockquote>
                <br>
                <h3> Read more about Paco de Lucía on his
                    <a mat-button href="https://en.wikipedia.org/wiki/Paco_de_Luc%C3%ADa#Early_life"
                        target="_blank">Wikipedia entry.</a>
                </h3>
            </div>
            <!--END CONTAINER FLUID-->
        </div>
        <!--END ROW-->
    </div>
<%- include('./includes/footer.ejs') %>