<%- include('./../includes/header.ejs') %>
<title>Flamenco Blog</title>
<meta name="apple-mobile-web-app-title" content="Flamenco Blog">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description"
    content="Flamenco blog with tips and tricks. Useful information for beginners about leanring flamenco guitar, dance and flamenco in Spain.">
<meta name="keywords"
    content="flamenco blog, learn flamenco guitar, paco de lucia, what does flamenco mean, flamenco palos">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="//ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Paco De Lucia">
<meta property="og:url" content="https://brisbaneflamenco.com.au/flamenco-blog/blog-index">
<meta property="og:type" content="website">
<meta property="og:title" content="Flamenco Blog">
<meta property="og:description"
    content="Flamenco blog with tips and tricks. Useful information for beginners about leanring flamenco guitar, dance and flamenco in Spain.">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Flamenco Blog">
<meta name="twitter:description"
    content="Flamenco blog with tips and tricks. Useful information for beginners about leanring flamenco guitar, dance and flamenco in Spain.">
<!-- <meta name="twitter:image" content="//ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/flamenco-blog/blog-index">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="/css/flamenco-blog/list-all-flamenco-blog-posts.css">
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
    <h1 id="h1title">Flamenco Blog</h1>
    <ul id="blogList">
        <% blogArr.map( blog => { %>

        <li><a href="/flamenco-blog/show/<%= blog.id %>"><%= blog.h1Title %></a></li>
        <%  }) %>


        <!-- <li><a href="/flamenco-blog/best-nylon-strings-for-flamenco-guitar">Best Nylon Strings For Flamenco Guitar</a></li>
            <li><a href="/flamenco-blog/what-does-flamenco-mean">What Does Flamenco Mean?</a></li>
            <li><a href="/flamenco-blog/flamenco-palos">Flamenco Palos With A Short Description</a></li>
           
            <li><a href="/flamenco-blog/spanish-guitar">The Spanish Guitar</a></li>
            <li><a href="/flamenco-blog/paco-de-lucia-timeline">Paco De Lucia Timeline</a></li> -->
    </ul>
</div>
<%- include('./../includes/footer.ejs') %>