<%- include('./../includes/header.ejs') %>
<title><%= blog.h1Title %></title>

<meta name="apple-mobile-web-app-title" content="<%= blog.h1Title %>">
<!--apple-mobile-web-app-capable no browser URL text field at the top of the screen or button bar at the bottom of the screen-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--if you want to use the entire screen, set the status bar style to translucent black-->
<!--For example, the following HTML sets the background color of the status bar to black-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--It is a 120-156 characters page description-->
<meta name="theme-color" content="#ffffff">
<meta name="description" content="<%= blog.description %>">
<meta name="keywords" content="<%= blog.keywords %>">
<!--FACEBOOK-->
<!-- <meta property="og:image" content="/assets/ilovehoney-logo.jpg"> -->
<meta property="og:site_name" content="Brisbane Flamenco">
<meta property="og:url" content="https://brisbaneflamenco.com.au/flamenco-blog/show/<%= blog.seoFriendlyTitle %>">
<meta property="og:type" content="website">
<meta property="og:title" content="<%= blog.h1Title %>">
<meta property="og:description" content="<%= blog.description %>">
<!--FACEBOOK END-->
<meta name="twitter:site" content="@brisbaneflamenco">
<meta name="twitter:creator" content="@DavidHeisner">
<!-- twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= blog.h1Title %>">
<meta name="twitter:description" content="<%= blog.description %>">
<!-- <meta name="twitter:image" content="/assets/ilovehoney-logo.jpg"> -->
<!--FOR SEO SHOULD HAVE THIS ROOT URL-->
<link rel="canonical" href="https://brisbaneflamenco.com.au/flamenco-blog/show/<%= blog.seoFriendlyTitle %>">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<link rel="stylesheet" href="/css/flamenco-blog/show-flamenco-blog-item.css">
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "publisher": {
            "@type": "Organization",
            "name": "Brisbane Flamenco",
            "logo": {
                "@type": "ImageObject",
                "url": "https://brisbaneflamenco.com.au/favicons/android-icon-192x192.png",
                "width": 192,
                "height": 192
            }
        },
        "author": {
            "@type": "Person",
            "name": "<%= blog.authorDisplayName %>"
        },
        "headline": "<%= blog.h1Title %>",
        "url": "https://brisbaneflamenco.com.au/flamenco-blog/show/<%= blog.seoFriendlyTitle %>",
        "datePublished": "<%= blog.dateCreated %>",
        "dateModified": "<%= blog.dateUpdated %>",
        "image": {
            "@type": "ImageObject",
            "url": "<%= protocol %>://<%= host %><%= blog.headerImgUrl %>",
            "width": <%= blog.headerImgWidth %>,
            "height": <%= blog.headerImgHeight %>
        },
        "keywords": "<%= blog.keywords %>",
        "description": "<%= blog.description %>",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://brisbaneflamenco.com.au/flamenco-blog/"
        }
    }
        </script>
<%- include('./../includes/nav.ejs') %>
<div id="mainContainer">
    <time datetime="<%= blog.dateCreated %>"><%= blog.dateCreatedHumanReadable %></time>
    <h1><%= blog.h1Title %></h1>
    <!-- <p>Author <%= blog.authorDisplayName %></p> -->
    <img src="<%= protocol %>://<%= host %><%= blog.headerImgUrl %>" alt="">
    <%- blog.html %>
</div>
  <%- include('./../includes/footer.ejs') %>


 